<div class="card shadow container mb-5 mt-5">
  <div class="demo-title row">
    <div class="col-md-4">
      <h1>Demo</h1>
    </div>
    <div class="col-md-8">
      <p>Plugging form values into an <a target="_blank" href="https://developers.esigngenie.com/#embedsignview">embedded signing session</a> with the <a target="_blank" href="https://www.esigngenie.com/">eSign Genie</a> API</p>
    </div>
  </div>
  <div class="row">
    <app-demo-view [style.width]="'100%'"></app-demo-view>
  </div>
</div>
