# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\esign-genie-demo-integration\java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
