.btn-primary
  background: #009933
  border-color: #009933

.demo-view
  padding: 16px 0
  background: linear-gradient(180deg, #e3f0f6 60%, #fff 60%)
  text-align: center

  button
    height: 48px
    width: 128px
    margin: 6px


